body{ background-color: lightgreen;

}
h1{
    color: rgb(236, 240, 18);
    text-align:right  ;
}
table, th, td {
    border: 3px solid rgb(16, 47, 223);
  }

img{  border: 3px dashed red;
    border-radius: 10%;  

  } 
